<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--See https://github.com/nlog/nlog/wiki/Configuration-file-->
	<!--for information on customizing logging rules and outputs.-->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true">
		<!-- Internal logging for debugging NLog itself -->
		<!-- Uncomment for troubleshooting -->
		<!-- throwExceptions="true" internalLogFile="C:\logs\${date:format=yyyy-MM-dd}_internal.log" internalLogLevel="Trace" -->
		<extensions>
			<!-- enable asp.net core layout renderers -->
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions>
		<!-- Variables -->
		<variable name="logDirectory" value="logs/${shortdate}" />
		<!-- Targets -->
		<targets async="true">
			<default-target-parameters xsi:type="File" keepFileOpen="false" />
			<target name="FileLogger"
					xsi:type="File"
					fileName="${logDirectory}/${date:format=yyyy-MM-dd}.trace"
					layout="${longdate} | ${pad:padding=-6:fixedLength=true:inner=${level:uppercase=true}} | ${pad:padding=-40:fixedLength=true:inner=${logger:shortName=true}} | ${pad:padding=-40:fixedLength=true:inner=${mdlc:item=RequestId}} | ${message} ${exception:innerFormat=ShortType,Message,Method,StackTrace:maxInnerExceptionLevel=10:format=ShortType,Message,Method,Data,StackTrace}" />
			<target name="ConsoleLogger"
					xsi:type="Console"
					layout="${longdate} | ${pad:padding=-6:fixedLength=true:inner=${level:uppercase=true}} | ${pad:padding=-40:fixedLength=true:inner=${logger:shortName=true}} | ${pad:padding=-40:fixedLength=true:inner=${mdlc:item=RequestId}} | ${message} ${exception:innerFormat=ShortType,Message,Method,StackTrace:maxInnerExceptionLevel=10:format=ShortType,Message,Method,Data,StackTrace}" />
		</targets>
		<!-- Rules -->
		<rules>
			<!-- Do not show sql queries -->
			<logger name="Microsoft.EntityFrameworkCore.Database.Command*" minlevel="Trace" final="true" />

			<logger name="*" minlevel="Debug" writeTo="FileLogger" />
			<logger name="*" minlevel="Info" writeTo="ConsoleLogger" />
			<logger name="System.*" finalMinLevel="Warn" />
			<logger name="Microsoft.*" finalMinLevel="Warn" />
			<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		</rules>
	</nlog>
</configuration>